@import "../../styles/global.scss";

.container {
  background-color: $red;
  padding: $x2 $x8;
  width: 80%;
  max-width: 700px;
  margin: $x4 auto;
  border: $border;
  box-shadow: $shadow;

  @media (max-width: 700px) {
    padding: $x2;
  }
}

.heading {
  @include font-scale("large", bold);
}

.advice {
  @include font-scale("base", medium);
}

.parents {
  @include font-scale(base);
  font-style: italic;
}
