@import "../../styles/global.scss";

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  margin: auto;
}

.messageHead {
  @include font-scale("large", bold);
  color: $yellow;
  padding: $space-huge;
}
