@import "../../styles/global.scss";

.header {
  display: flex;
  padding: $x2;
  background-color: $red;
  justify-content: space-between;
  align-items: center;
  border: $border;
}

.logo {
  @include font-scale("super", bold);

  @media (max-width: 700px) {
    @include font-scale("large", bold);
  }

  a {
    text-decoration: none;
  }
}

.nav {
  ul {
    display: flex;
    list-style: none;

    li {
      margin: 0 $x2;

      @media (max-width: 700px) {
        margin: 0 $x1;
      }

      a {
        text-decoration: none;
        color: $text-colour;
        @include font-scale("mid", bold);

        &:hover {
          background-color: $yellow;
          padding: $x1;
          border: $border;
        }
      }
    }
  }
}
